.aider*
.env
*.xml
INSTRUCTIONS.md  
eval  
outputs  
swe_bench_core  
swe_bench_openhands  

**/__pycache__/
**/*.swp

agent/workspace/

log/*
combine_jsonl.py

state.json

archives/

SWE-bench
eval_outputs/
openhands_setup/

repo/

prompts/

experiments/
logs/

submissions/
new_agentpress/

*.json
*.log
*.ipynb
*.zip
.vscode/
output/
.venv/